
a
    text-decoration: none
    &:link, 
    &:visited
        color: #fff
p
    margin-block-start: 0
    margin-block-end: 0

* 
    box-sizing: border-box

ul,
li
    list-style: none
    margin: 0
    padding: 0
img
    max-width: 100%

body
    font-family: DeVinne
    font-size: 10px
    color: #fff
    font-size: 16px
    // letter-spacing: 0.9px

.container
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    padding-left: 25px
    // align-content: center
    justify-content: center
    // overflow: auto
    background-color: #f8c18d

.inner
    width: 1270px
    height: 720px
    border: 10px solid #ED6A20 
    border-radius: 35px
    // background-color: #000
    box-shadow: 0 30px 80px #884420
    background-image: url(../img/sun.jpg)
    background-repeat: no-repeat
    background-size: initial
    background-position:  center
    position: relative
.cross
    height: 528px
    width: 100%
    background-image: url(../img/cros.png)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    // margin: auto
    position: absolute
    top: 30px

